body {
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    overflow: hidden;

}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
}

h1 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

select, input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    color: #333;
    margin-top: 20px;
}

#result, #device-status {
    color: #555;
    text-align: left;
}

#device-status li {
    margin-bottom: 5px;
}

.notifications-toggle .toggle {
    display: flex;
    align-items: center;
    gap: 12px;
}

#notifications-toggle {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

#notifications-status {
    font-weight: bold;
}
